# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
01_lidar_obstacle_detection/src/sensors/data/
01_lidar_obstacle_detection/build/
01_lidar_obstacle_detection/src/quiz/ransac/build/
01_lidar_obstacle_detection/src/quiz/cluster/build/
detect_keypoints/build/
cornerness_harris/build/
02_2d_feature_tracking/build/
